.gitconfig.local
.DS_Store
thumbs.db
*~
.#*
.svn
ac-comphist.dat
.emacs.d/eshell
.emacs.d/auto-save-list
.emacs.d/url
.emacs.d/bookmarks
.emacs.d/.org-id-locations
tmp
tramp
recentf
*.elc
*.opt
*.clw
*.ncb
*.user
*.aps
*.mak
*.suo
*.ilk
*.sdf
*.opensdf
*.opendb
**/Win32*/
**/x64*/
**/bin*/
**/Debug*/
**/Release*/
**/*.debug/
**/ipch/
GPATH
GRTAGS
GTAGS
**/autosave.prs
**/*local.ini
