[core]
	excludesfile = ~/dotfiles/.gitignore
	compression = -1
	loosecompression = -1
	packedGitWindowSize = 64m
	autocrlf = false
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[include]
	path = ~/.gitconfig.local
[pack]
	threads = 1
	windowMemory = 64m
	packSizeLimit = 64m
	compression = -1
[push]
	default = simple
[alias]
	svn-diff = "!f() { git svn dcommit -n | grep diff | awk -F'diff-tree' -v opt=$@ '{print \"git diff \"opt\" \"$2}' | sh; }; f"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[a-z]"
	ls = !git ls-files -t|perl -pe 's/\\/.*/\\//'|uniq -c
	ll = !git ls-files -cdmokt|perl -pe 's/\\/.*/\\//'|grep -v '/'
	la = ls-files -cdmokt
	conflicts = !git ls-files -u | cut -f 2 | sort -u
[color]
	ui = true
	diff = true
