[core]
	excludesfile = ~/dotfiles/.gitignore
	compression = -1
	loosecompression = -1
	packedGitWindowSize = 128m
        packedGitLimit = 128m
	autocrlf = false
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[include]
	path = ~/.gitconfig.local
[pack]
        windowMemory = 128m
        threads = 2
        deltaCacheSize = 128m
        packSizeLimit = 128m
	compression = -1
[push]
	default = simple
[alias]
	svn-diff = "!f() { git svn dcommit -n | grep diff | awk -F'diff-tree' -v opt=$@ '{print \"git diff \"opt\" \"$2}' | sh; }; f"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[a-z]"
	ls = !git ls-files -t|perl -pe 's/\\/.*/\\//'|uniq -c
	ll = !git ls-files -cdmokt|perl -pe 's/\\/.*/\\//'|grep -v '/'
	la = ls-files -cdmokt
	conflicts = !git ls-files -u | cut -f 2 | sort -u
[color]
	ui = true
	diff = true
[diff]
    tool = WinMerge
[difftool "WinMerge"]
    cmd = \"C:/Program Files/WinMerge/WinMergeU.exe\" -e -ub -dl \"$LOCAL\" -dr \"$REMOTE\" \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = WinMerge
[mergetool "WinMerge"]
    cmd = \"C:/Program Files/WinMerge/WinMergeU.exe\" //e //u //wl //wr \"$BASE\" \"$LOCAL\" \"$REMOTE\" //o \"$MERGED\"
    trustExitCode = true
[winUpdater]
	recentlySeenVersion = 2.15.1.windows.2
[gc]
	auto = 0
