.gitconfig.local
.DS_Store
thumbs.db
*~
.svn
ac-comphist.dat
.emacs.d/eshell
.emacs.d/auto-save-list
.emacs.d/url
tmp
tramp
recentf
*.elc
*.ncb
*.user
*.aps
*.suo
**/Win32*/
**/x64*/
**/bin*/
**/Debug*/
**/Release*/
**/*.debug/
GPATH
GRTAGS
GTAGS
!EVInsite/bin.lite/
