[core]
	excludesfile = ~/dotfiles/.gitignore
	compression = -1
	loosecompression = -1
	packedGitWindowSize = 1048m
	autocrlf = false
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[include]
	path = ~/.gitconfig.local
[pack]
	threads = 1
	windowMemory = 1g
	packSizeLimit = 1g
	compression = -1
[push]
	default = simple
[alias]
	svn-diff = "!f() { git svn dcommit -n | grep diff | awk -F'diff-tree' -v opt=$@ '{print \"git diff \"opt\" \"$2}' | sh; }; f"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[a-z]"
[color]
	ui = true
	diff = true
