[submodule ".emacs.d/elisp/web-mode"]
	path = .emacs.d/elisp/web-mode
	url = https://github.com/fxbois/web-mode
[submodule ".emacs.d/plugins/auto-complete"]
	path = .emacs.d/plugins/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule ".emacs.d/plugins/blgrep"]
	path = .emacs.d/plugins/blgrep
	url = https://github.com/ataka/blgrep
[submodule ".emacs.d/plugins/bookmark-plus"]
	path = .emacs.d/plugins/bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus
[submodule ".emacs.d/plugins/clmemo"]
	path = .emacs.d/plugins/clmemo
	url = https://github.com/ataka/clmemo
[submodule ".emacs.d/plugins/exec-path-from-shell"]
	path = .emacs.d/plugins/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/lib/yasnippet-snippets"]
	path = .emacs.d/lib/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule ".emacs.d/plugins/modeline-git-branch"]
	path = .emacs.d/plugins/modeline-git-branch
	url = https://github.com/acple/modeline-git-branch
[submodule ".emacs.d/plugins/popup-el"]
	path = .emacs.d/plugins/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule ".emacs.d/plugins/markdown-mode"]
	path = .emacs.d/plugins/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/plugins/japanese-holidays"]
	path = .emacs.d/plugins/japanese-holidays
	url = https://github.com/emacs-jp/japanese-holidays
[submodule ".emacs.d/plugins/rd-mode"]
	path = .emacs.d/plugins/rd-mode
	url = https://github.com/emacsmirror/rd-mode
[submodule ".emacs.d/plugins/emacs-calfw"]
	path = .emacs.d/plugins/emacs-calfw
	url = https://github.com/kiwanami/emacs-calfw
[submodule ".emacs.d/plugins/migemo"]
	path = .emacs.d/plugins/migemo
	url = https://github.com/emacs-jp/migemo
[submodule ".emacs.d/plugins/twittering-mode"]
	path = .emacs.d/plugins/twittering-mode
	url = https://github.com/hayamiz/twittering-mode
[submodule ".emacs.d/plugins/ack-el"]
	path = .emacs.d/plugins/ack-el
	url = https://github.com/leoliu/ack-el
[submodule ".emacs.d/plugins/org2blog"]
	path = .emacs.d/plugins/org2blog
	url = git://github.com/punchagan/org2blog.git
[submodule ".emacs.d/plugins/metaweblog"]
	path = .emacs.d/plugins/metaweblog
	url = git://github.com/punchagan/metaweblog.git
[submodule ".emacs.d/plugins/xml-rpc"]
	path = .emacs.d/plugins/xml-rpc
	url = git://github.com/emacsmirror/xml-rpc.git
